<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Student Form</title></head>
<body>
<h2>Student Form</h2>
<form th:action="@{/student/save}" th:object="${student}" method="post">
    <input type="hidden" th:field="*{studentId}"/>
    Name: <input type="text" th:field="*{name}"/><br/>
    Age: <input type="number" th:field="*{age}"/><br/>
    Class: <input type="text" th:field="*{studentClass}"/><br/>
    Email: <input type="email" th:field="*{email}"/><br/>
    Address: <input type="text" th:field="*{address}"/><br/>
    <button type="submit">Submit</button>
</form>
</body>
</html>
